.page-link{
  border: none;
  color:  #696969;
  background-color:#FFFFFF;
}

.page-link:hover{
  border: none;
  color:  #000;
}

.page-link:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.page-item.active .page-link{
  border-radius: 5px;
  box-shadow: 0 0 0 1px #808080;
  border-color: #696969;
  color:  #000;
  background-color:#FFFFFF;  
}


